
mark{
    border-radius: 5px;
    background-color: rgba(255, 202, 57, 0.29);
    padding-left: 1%;
    padding-right: 1%;
}
.no-decoration{
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: 300ms;
}
.no-decoration:hover{
    color: black;
    text-decoration: none;
}
.jumbotron{
    text-shadow: rgba(0, 0, 0, 0.3) 1px 2px 15px;
    margin-top: 30px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.55);
}
.navbar{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.img-circle{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.img-big{
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.block{
    background-color: #cccccc;
    margin-bottom: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.block .text{
    padding: 20px;
}
.video{
    margin-top: 30px;
    margin-bottom: 30px;
}